	<nav class="n-banner nokia_banner_normal" data-visual-break="false">
  	<div class="n-banner-1st-filler-white"></div>
    <div class="n-banner-1st-filler-blue"></div>
			<div class="container-fluid">
   		<div class="n-banner-header">
     		<a class="n-banner-brand" href="#">Virtual 1830</a>
    	</div>
  		<div class="collapse n-banner-collapse" id="n-banner-collapse">
    		<div class="n-banner-1st">
      		<div class="n-banner-right n-banner-1st-blue-to-gray">
      			<div class="blue-mask"></div>
      			<div class="gray-mask"></div>
      			<div class="blue-corner"></div>
      			<div class="gray-corner"></div>
      		</div>
      		<ul class="nav n-banner-right n-banner-nav n-banner-controls">
       			<li id="wulf_contacts" style="margin-left: 10px;">
       				<a href="#" data-toggle="modal" data-target="#contactsDlg" style="margin-right: -10px;">
         				<icon class="fa fa-user"></icon>admin
       				</a>
       			</li>
       			<li id="wulf_logout" style="margin-left: 10px;border-left-style: solid;border-left-width: thin;border-radius: 1px;height: 15px;margin-top: 21px;">
       				<a ui-sref="logout" style="margin-top: -20px;margin-left: -1px;">
         				Logout
       				</a>
       			</li>
      		</ul>
  				<div class="n-banner-right n-banner-1st-gray-to-white">
    				<div class="gray-mask"></div>
    				<div class="white-mask"></div>
    				<div class="gray-corner"></div>
    				<div class="white-corner"></div>
  				</div>
  				<div class="n-banner-right n-banner-logo-img">
    				<img alt="Nokia" src="/images/logo.png">
  				</div>
    		</div>
  		</div>
    	<div class="n-banner-2nd-gray-to-blue hidden-xs hidden-on-blue-detached">
    		<div class="gray-mask"></div>
    		<div class="blue-mask"></div>
    		<div class="gray-corner"></div>
    		<div class="blue-corner"></div>
    	</div>
		</div> 
	</nav>